.piece {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.piece-red {
  background-color: #ff4d4f;
}
.piece-blue {
  background-color: #1890ff;
}
.piece-green {
  background-color: #52c41a;
}
.piece-yellow {
  background-color: #fadb14;
}
