@page "/"
@using Ludo.Blazor.Components.Components.Home
@inject NavigationManager Nav
@inject SoundService Sound


@if (!audioReady)
{
    <div class="audio-overlay" @onclick="EnableAudio">
        Tap anywhere to start
    </div>
}
else
{
    <div class="page page-home page--center page--fullscreen background-image"
         style="background-image: url('images/ludo-board.jpg');">
        <div class="card-home">
            <HomeHero />
            <PlayButton OnClick="GoToSetup" />
        </div>
    </div>
}


@code {
    bool audioReady;

    async Task EnableAudio()
    {
        audioReady = true;

        await Sound.Unlock();
        await Sound.PlayHomeBgm();
    }

    void GoToSetup()
    {
        Sound.PlayButtonStart();
        Nav.NavigateTo("/setup");
    }
}