@inject SoundService Sound

<div class="board-selector">
    @foreach (BoardType board in AvailableBoards)
    {
        <button class="board-item @(board == SelectedBoard ? "selected" : "")" @onclick="() => SelectBoard(board)">
            @board.ToString()
        </button>
    }
</div>

@code {
    [Parameter]
    public BoardType? SelectedBoard { get; set; }

    [Parameter]
    public EventCallback<BoardType?> SelectedBoardChanged { get; set; }

    protected IReadOnlyList<BoardType> AvailableBoards =
    [
        BoardType.Standard,
            BoardType.Big
    ];

    protected async Task SelectBoard(BoardType board)
    {
        await Sound.PlayButton();
        SelectedBoard = board;
        await SelectedBoardChanged.InvokeAsync(board);
    }
}